<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.grade.mapper.GradeTeachersMapper">
  <resultMap id="BaseResultMap" type="com.school.grade.entity.GradeTeachers">
    <id column="CLERK_ID" jdbcType="INTEGER" property="clerkId" />
    <result column="CLERK_NAME" jdbcType="VARCHAR" property="clerkName" />
    <result column="CLERK_NUMBER" jdbcType="VARCHAR" property="clerkNumber" />
    <result column="CLERK_STATUS" jdbcType="INTEGER" property="clerkStatus" />
    <result column="CLERK_SEX" jdbcType="VARCHAR" property="clerkSex" />
    <result column="CLERK_EMAIL" jdbcType="VARCHAR" property="clerkEmail" />
    <result column="CELLPHONE" jdbcType="VARCHAR" property="cellphone" />
    <result column="ENTRY_TIME" jdbcType="TIMESTAMP" property="entryTime" />
    <result column="ACCOUNT_NAME" property="accountName"/>
    <result column="ACCOUNT_PASSWORD" property="accountPassword"/>
    <result column="ACCOUNT_TYPE" property="accountType"/>
    <result column="CREATE_TIME" property="createTime"/>
    <result column="UPDATE_TIME" property="updateTime"/>
  </resultMap>

  <sql id="Base_Column_List">
    CLERK_ID,
    CLERK_NAME,
    CLERK_NUMBER,
    CLERK_STATUS,
    CLERK_SEX,
    CLERK_EMAIL,
    CELLPHONE,
    ENTRY_TIME,
    ACCOUNT_NAME,
    ACCOUNT_PASSWORD,
    ACCOUNT_TYPE,
    CREATE_TIME,
    UPDATE_TIME
  </sql>

  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM
      KITCHEN_CLERK
    WHERE
      CLERK_ID = #{clerkId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM KITCHEN_CLERK
    WHERE CLERK_ID = #{clerkId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="clerkId">
      INSERT INTO KITCHEN_CLERK
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="clerkId != null">
          CLERK_ID,
        </if>
        <if test="clerkName != null">
          CLERK_NAME,
        </if>
        <if test="clerkNumber != null">
          CLERK_NUMBER,
        </if>
        <if test="clerkPhoto != null">
          CLERK_PHOTO,
        </if>
        <if test="clerkStatus != null">
          CLERK_STATUS,
        </if>
        <if test="clerkSex != null">
          CLERK_SEX,
        </if>
        <if test="department != null">
          DEPARTMENT,
        </if>
        <if test="jobTitle != null">
          JOB_TITLE,
        </if>
        <if test="clerkEmail != null">
          CLERK_EMAIL,
        </if>
        <if test="cellphone != null">
          CELLPHONE,
        </if>
        <if test="telephone != null">
          TELEPHONE,
        </if>
        <if test="entryTime != null">
          ENTRY_TIME,
        </if>
        <if test="updateTime != null">
          UPDATE_TIME,
        </if>
        <if test="clerkResI != null">
          CLERK_RES_I,
        </if>
        <if test="clerkResX != null">
          CLERK_RES_X,
        </if>
      </trim>
      <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
        <if test="clerkId != null">
          #{clerkId,jdbcType=INTEGER},
        </if>
        <if test="clerkName != null">
          #{clerkName,jdbcType=VARCHAR},
        </if>
        <if test="clerkNumber != null">
          #{clerkNumber,jdbcType=VARCHAR},
        </if>
        <if test="clerkPhoto != null">
          #{clerkPhoto,jdbcType=VARCHAR},
        </if>
        <if test="clerkStatus != null">
          #{clerkStatus,jdbcType=INTEGER},
        </if>
        <if test="clerkSex != null">
          #{clerkSex,jdbcType=VARCHAR},
        </if>
        <if test="department != null">
          #{department,jdbcType=VARCHAR},
        </if>
        <if test="jobTitle != null">
          #{jobTitle,jdbcType=VARCHAR},
        </if>
        <if test="clerkEmail != null">
          #{clerkEmail,jdbcType=VARCHAR},
        </if>
        <if test="cellphone != null">
          #{cellphone,jdbcType=VARCHAR},
        </if>
        <if test="telephone != null">
          #{telephone,jdbcType=VARCHAR},
        </if>
        <if test="entryTime != null">
          #{entryTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateTime != null">
          #{updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="clerkResI != null">
          #{clerkResI,jdbcType=VARCHAR},
        </if>
        <if test="clerkResX != null">
          #{clerkResX,jdbcType=VARCHAR},
        </if>
      </trim>
  </insert>

  <update id="updateByPrimaryKeySelective">
    UPDATE KITCHEN_CLERK
    <set>
      <if test="clerkName != null">
        CLERK_NAME = #{clerkName,jdbcType=VARCHAR},
      </if>
      <if test="clerkNumber != null">
        CLERK_NUMBER = #{clerkNumber,jdbcType=VARCHAR},
      </if>
      <if test="clerkPhoto != null">
        CLERK_PHOTO = #{clerkPhoto,jdbcType=VARCHAR},
      </if>
      <if test="clerkStatus != null">
        CLERK_STATUS = #{clerkStatus,jdbcType=INTEGER},
      </if>
      <if test="clerkSex != null">
        CLERK_SEX = #{clerkSex,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null">
        JOB_TITLE = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="clerkEmail != null">
        CLERK_EMAIL = #{clerkEmail,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        ENTRY_TIME = #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clerkResI != null">
        CLERK_RES_I = #{clerkResI,jdbcType=VARCHAR},
      </if>
      <if test="clerkResX != null">
        CLERK_RES_X = #{clerkResX,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE CLERK_ID = #{clerkId,jdbcType=INTEGER}
  </update>
</mapper>