<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.grade.mapper.GradeStudentsMapper">
    <resultMap id="BaseResultMap" type="com.school.grade.entity.GradeStudents">
        <id column="STUDENT_ID" property="studentId"/>
        <result column="STUDENT_NAME" property="studentName"/>
        <result column="STUDENT_NUMBER" property="studentNumber"/>
        <result column="STUDENT_SEX" property="studentSex"/>
        <result column="STATUS" property="status"/>
        <result column="ACCOUNT_NAME" property="accountName"/>
        <result column="ACCOUNT_PASSWORD" property="accountPassword"/>
        <result column="ACCOUNT_TYPE" property="accountType"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        STUDENT_ID,
        STUDENT_NAME,
        STUDENT_NUMBER,
        STUDENT_SEX,
        STATUS,
        ACCOUNT_NAME,
        ACCOUNT_PASSWORD,
        ACCOUNT_TYPE,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <select id="selectById" resultMap="BaseResultMap" >
        SELECT
          <include refid="Base_Column_List" />
        FROM
          KITCHEN_ACCOUNTS
        WHERE
          ACCOUNT_ID = #{accountId,jdbcType=INTEGER}
    </select>

    <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap">-->
        <!--SELECT-->
          <!--<include refid="Base_Column_List"/>-->
        <!--FROM-->
          <!--KITCHEN_ACCOUNTS-->
        <!--WHERE-->
          <!--ACCOUNT_NAME = #{account,jdbcType=VARCHAR}-->
        <!--AND-->
          <!--ACCOUNT_STATUS='1'-->
    <!--</select>-->


    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
        <!--DELETE FROM KITCHEN_ACCOUNTS-->
        <!--WHERE ACCOUNT_ID = #{accountId,jdbcType=INTEGER}-->
    <!--</delete>-->

    <!--<insert id="insertSelective" parameterType="com.mieasy.kitchen.domain.KitchenAccounts">-->
        <!--INSERT INTO KITCHEN_ACCOUNTS-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="accountId != null">-->
                <!--ACCOUNT_ID,-->
            <!--</if>-->
            <!--<if test="clerkId != null">-->
                <!--CLERK_ID,-->
            <!--</if>-->
            <!--<if test="accountName != null">-->
                <!--ACCOUNT_NAME,-->
            <!--</if>-->
            <!--<if test="accountPassword != null">-->
                <!--ACCOUNT_PASSWORD,-->
            <!--</if>-->
            <!--<if test="accountType != null">-->
                <!--ACCOUNT_TYPE,-->
            <!--</if>-->
            <!--<if test="accountStatus != null">-->
                <!--ACCOUNT_STATUS,-->
            <!--</if>-->
            <!--<if test="accountRemark != null">-->
                <!--ACCOUNT_REMARK,-->
            <!--</if>-->
            <!--<if test="accountToken != null">-->
                <!--ACCOUNT_TOKEN,-->
            <!--</if>-->
            <!--<if test="upTime != null">-->
                <!--UP_TIME,-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--CREATE_TIME,-->
            <!--</if>-->
            <!--<if test="accountResI != null">-->
                <!--ACCOUNT_RES_I,-->
            <!--</if>-->
            <!--<if test="accountResX != null">-->
                <!--ACCOUNT_RES_X,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="accountId != null">-->
                <!--#{accountId,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="clerkId != null">-->
                <!--#{clerkId,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountName != null">-->
                <!--#{accountName,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountPassword != null">-->
                <!--#{accountPassword,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountType != null">-->
                <!--#{accountType,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountStatus != null">-->
                <!--#{accountStatus,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountRemark != null">-->
                <!--#{accountRemark,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountToken != null">-->
                <!--#{accountToken,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="upTime != null">-->
                <!--#{upTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--#{createTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="accountResI != null">-->
                <!--#{accountResI,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountResX != null">-->
                <!--#{accountResX,jdbcType=VARCHAR},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->

    <!--<update id="updateByPrimaryKeySelective" parameterType="com.mieasy.kitchen.domain.KitchenAccounts">-->
        <!--UPDATE KITCHEN_ACCOUNTS-->
        <!--<set>-->
            <!--<if test="clerkId != null">-->
                <!--CLERK_ID = #{clerkId,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountName != null">-->
                <!--ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountPassword != null">-->
                <!--ACCOUNT_PASSWORD = #{accountPassword,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountType != null">-->
                <!--ACCOUNT_TYPE = #{accountType,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountStatus != null">-->
                <!--ACCOUNT_STATUS = #{accountStatus,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountRemark != null">-->
                <!--ACCOUNT_REMARK = #{accountRemark,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountToken != null">-->
                <!--ACCOUNT_TOKEN = #{accountToken,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="upTime != null">-->
                <!--UP_TIME = #{upTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="accountResI != null">-->
                <!--ACCOUNT_RES_I = #{accountResI,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountResX != null">-->
                <!--ACCOUNT_RES_X = #{accountResX,jdbcType=VARCHAR},-->
            <!--</if>-->
        <!--</set>-->
        <!--WHERE ACCOUNT_ID = #{accountId,jdbcType=INTEGER}-->
    <!--</update>-->

</mapper>