<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.grade.mapper.GradeUserMapper">
    <resultMap id="BaseResultMap" type="com.school.grade.entity.GradeUser">
        <id column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="ACCOUNT_NUMBER" property="accountNumber"/>
        <result column="ACCOUNT_PASSWORD" property="accountPassword"/>
        <result column="ACCOUNT_TYPE" property="accountType"/>
        <result column="STATUS" property="status"/>
        <result column="USER_SEX" property="userSex"/>
        <result column="USER_EMAIL" property="userEmail"/>
        <result column="CELLPHONE" property="cellphone"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        USER_ID,
        USER_NAME,
        ACCOUNT_NUMBER,
        ACCOUNT_PASSWORD,
        ACCOUNT_TYPE,
        STATUS,
        USER_SEX,
        USER_EMAIL,
        CELLPHONE,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <select id="selectGradeUser" resultMap="BaseResultMap" >
        SELECT
          <include refid="Base_Column_List" />
        FROM
          grade_user
        WHERE
          ACCOUNT_NUMBER = #{accountNumber}
        AND
          ACCOUNT_PASSWORD = #{accountPassword}
    </select>

    <select id="selectGradeUserByAccount" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          grade_user
        WHERE
          ACCOUNT_NUMBER = #{account}
        AND
          STATUS = 1
    </select>

    <update id="updateGradeUserInfo">
        UPDATE
          grade_user
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="accountNumber != null">
                ACCOUNT_NUMBER = #{accountNumber,jdbcType=VARCHAR},
            </if>
            <if test="accountPassword != null">
                ACCOUNT_PASSWORD = #{accountPassword,jdbcType=VARCHAR},
            </if>
            <if test="accountType != null">
                ACCOUNT_TYPE = #{accountType,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="userSex != null">
                USER_SEX = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="cellphone != null">
                CELLPHONE = #{cellphone,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE USER_ID = #{userId}
    </update>

    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
        <!--DELETE FROM KITCHEN_ACCOUNTS-->
        <!--WHERE ACCOUNT_ID = #{accountId,jdbcType=INTEGER}-->
    <!--</delete>-->

    <!--<insert id="insertSelective" parameterType="com.mieasy.kitchen.domain.KitchenAccounts">-->
        <!--INSERT INTO KITCHEN_ACCOUNTS-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="accountId != null">-->
                <!--ACCOUNT_ID,-->
            <!--</if>-->
            <!--<if test="clerkId != null">-->
                <!--CLERK_ID,-->
            <!--</if>-->
            <!--<if test="accountName != null">-->
                <!--ACCOUNT_NAME,-->
            <!--</if>-->
            <!--<if test="accountPassword != null">-->
                <!--ACCOUNT_PASSWORD,-->
            <!--</if>-->
            <!--<if test="accountType != null">-->
                <!--ACCOUNT_TYPE,-->
            <!--</if>-->
            <!--<if test="accountStatus != null">-->
                <!--ACCOUNT_STATUS,-->
            <!--</if>-->
            <!--<if test="accountRemark != null">-->
                <!--ACCOUNT_REMARK,-->
            <!--</if>-->
            <!--<if test="accountToken != null">-->
                <!--ACCOUNT_TOKEN,-->
            <!--</if>-->
            <!--<if test="upTime != null">-->
                <!--UP_TIME,-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--CREATE_TIME,-->
            <!--</if>-->
            <!--<if test="accountResI != null">-->
                <!--ACCOUNT_RES_I,-->
            <!--</if>-->
            <!--<if test="accountResX != null">-->
                <!--ACCOUNT_RES_X,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="accountId != null">-->
                <!--#{accountId,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="clerkId != null">-->
                <!--#{clerkId,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountName != null">-->
                <!--#{accountName,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountPassword != null">-->
                <!--#{accountPassword,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountType != null">-->
                <!--#{accountType,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountStatus != null">-->
                <!--#{accountStatus,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="accountRemark != null">-->
                <!--#{accountRemark,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountToken != null">-->
                <!--#{accountToken,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="upTime != null">-->
                <!--#{upTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
                <!--#{createTime,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="accountResI != null">-->
                <!--#{accountResI,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="accountResX != null">-->
                <!--#{accountResX,jdbcType=VARCHAR},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->
</mapper>