<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.grade.mapper.GradeUserMapper">
    <resultMap id="BaseResultMap" type="com.school.grade.entity.GradeUser">
        <id column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="ACCOUNT_NUMBER" property="accountNumber"/>
        <result column="ACCOUNT_PASSWORD" property="accountPassword"/>
        <result column="ACCOUNT_TYPE" property="accountType"/>
        <result column="STATUS" property="status"/>
        <result column="USER_SEX" property="userSex"/>
        <result column="USER_EMAIL" property="userEmail"/>
        <result column="CELLPHONE" property="cellphone"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        USER_ID,
        USER_NAME,
        ACCOUNT_NUMBER,
        ACCOUNT_PASSWORD,
        ACCOUNT_TYPE,
        STATUS,
        USER_SEX,
        USER_EMAIL,
        CELLPHONE,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <select id="selectGradeUser" resultMap="BaseResultMap" >
        SELECT
          <include refid="Base_Column_List" />
        FROM
          grade_user
        WHERE
          ACCOUNT_NUMBER = #{accountNumber}
        AND
          ACCOUNT_PASSWORD = #{accountPassword}
    </select>

    <select id="selectGradeUserByAccount" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          grade_user
        WHERE
          ACCOUNT_NUMBER = #{account}
        AND
          STATUS = 1
    </select>

    <select id="selectGradeUserList" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          grade_user
        <where>
            STATUS = 1
            <if test="grId != null">
                AND ACCOUNT_TYPE = #{grId}
            </if>
            <if test="userName != ''">
                AND (USER_NAME LIKE #{userName} OR ACCOUNT_NUMBER LIKE #{userName})
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectTeacherList" resultMap="BaseResultMap">
        SELECT
          USER_ID,USER_NAME
        FROM
          grade_user
        <where>
              STATUS = 1
            AND
              ACCOUNT_TYPE = 2
        </where>
    </select>

    <select id="selectStudentListById" resultMap="BaseResultMap">
        SELECT
            s.USER_ID,s.USER_NAME
        FROM
            grade_user s
        JOIN
            grade_relation r
        ON
            s.USER_ID = r.STUDENT_ID
        WHERE
            r.TEACHER_ID = #{teacherId}
        AND
            s.STATUS = 1
        AND
            s.ACCOUNT_TYPE = 3
    </select>

    <select id="selectAllStudent" resultMap="BaseResultMap">
        SELECT
            USER_ID,USER_NAME
        FROM
            grade_user
        WHERE
            STATUS = 1
        AND
            ACCOUNT_TYPE = 3
    </select>

    <select id="selectStudentList" resultMap="BaseResultMap">
        SELECT
            USER_ID,USER_NAME
        FROM
            grade_user
        <where>
              STATUS = 1
            AND
              ACCOUNT_TYPE = 3
            AND
              USER_ID NOT IN(
                SELECT STUDENT_ID FROM grade_relation
              )
        </where>
    </select>

    <update id="deleteGradeUser">
        UPDATE
          grade_user
        SET
          STATUS = 0
        WHERE
          USER_ID = #{userId}
    </update>

    <select id="selectGradeUserById" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          grade_user
        WHERE
          USER_ID = #{userId}
    </select>

    <update id="updateGradeUserInfo">
        UPDATE
          grade_user
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="accountNumber != null">
                ACCOUNT_NUMBER = #{accountNumber,jdbcType=VARCHAR},
            </if>
            <if test="accountPassword != null">
                ACCOUNT_PASSWORD = #{accountPassword,jdbcType=VARCHAR},
            </if>
            <if test="accountType != null">
                ACCOUNT_TYPE = #{accountType,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="userSex != null">
                USER_SEX = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="cellphone != null">
                CELLPHONE = #{cellphone,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE USER_ID = #{userId}
    </update>

    <insert id="insertGradeUser">
        INSERT INTO grade_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="accountNumber != null">
                ACCOUNT_NUMBER,
            </if>
            <if test="accountPassword != null">
                ACCOUNT_PASSWORD,
            </if>
            <if test="accountType != null">
                ACCOUNT_TYPE,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="userSex != null">
                USER_SEX,
            </if>
            <if test="userEmail != null">
                USER_EMAIL,
            </if>
            <if test="cellphone != null">
                CELLPHONE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="accountNumber != null">
                #{accountNumber,jdbcType=VARCHAR},
            </if>
            <if test="accountPassword != null">
                #{accountPassword,jdbcType=VARCHAR},
            </if>
            <if test="accountType != null">
                #{accountType,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="cellphone != null">
                #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATETIME},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATETIME},
            </if>
        </trim>
    </insert>
</mapper>