<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
    <link rel="icon" th:href="@{/lib/bitbug_favicon.ico}" type="img/x-ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}"/>
    <!--[if IE 6]>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
    <title>学生平时表现评分管理系統</title>
    <style type="text/css">
        #footer {
            padding-left: 10px;
            height: 40px;
            line-height: 50px;
            position: fixed;
            bottom: 0;
            text-align: center;
            font-family: Arial;
            font-size: 14px;
            letter-spacing: 1px;
        }
        dl{
            display: none;
        }
        .fonts{
            font-size: 20px;
        }
    </style>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="index" style="font-size: 22px">学生平时表现评分管理系統</a>
            <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="index" style="font-size: 22px">学生平时表现评分管理系統</a>
            <span class="logo navbar-slogan f-l mr-10 hidden-xs" style="font-size: 22px">V1.0</span>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs"
               href="javascript:;">&#xe667;
            </a>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <input id="accountNumber" hidden="hidden"/>
                <ul class="cl">
                    <li><span id="role"></span></li>
                    <li class="dropDown dropDown_hover">
                        <a href="javascript:void(0)" class="dropDown_A"><span id="userName"></span>
                            <i class="Hui-iconfont">&#xe6d5;</i>
                        </a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="javascript:void(0)">個人資訊</a></li>
                            <li><a onClick="editPassword()">更改密碼</a></li>
                            <li><a onclick="adminOff()">切換帳戶</a></li>
                            <li><a onclick="adminOff()">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
    <div class="bgleft">
        <div class="menu_dropdown bk_2 fonts">
            <dl id="add-user">
                <dt>
                    <i class="Hui-iconfont">&#xe670;</i>&nbsp;用户管理
                    <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li><a data-href="user-list" data-title="用户列表"
                               href="javascript:void(0)" style="font-size: 18px;">用户列表</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="student-score">
                <dt>
                    <i class="Hui-iconfont">&#xe636;</i>&nbsp;成绩管理<i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li><a data-href="executePeople-list" data-title="我的评分"
                               href="javascript:void(0)" style="font-size: 18px;">我的评分</a></li>
                    </ul>
                </dd>
            </dl>
            <dl id="make-score">
                <dt>
                    <i class="Hui-iconfont">&#xe636;</i>&nbsp;评分管理<i
                        class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li><a data-href="score-add" data-title="添加评分"
                               href="javascript:void(0)" style="font-size: 18px;">添加评分</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</aside>
<section class="Hui-article-box">
    <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
        <div class="Hui-tabNav-wp">
            <ul id="min_title_list" class="acrossTab cl">
                <li class="active">
                    <span title="我的桌面" th:data-href="welcome.html">我的桌面</span> <em></em>
                </li>
            </ul>
        </div>
        <div class="Hui-tabNav-more btn-group">
            <a id="js-tabNav-prev" class="btn radius btn-default size-S"
               href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a
                id="js-tabNav-next" class="btn radius btn-default size-S"
                href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a>
        </div>
    </div>
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display: none" class="loading"></div>
            <iframe scrolling="yes" frameborder="0" th:src="@{/welcome}"></iframe>
        </div>
    </div>
</section>

<div class="contextMenu" id="Huiadminmenu" style="display: none;">
    <ul>
        <li id="closethis">關閉當前</li>
        <li id="closeall">關閉全部</li>
    </ul>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.page.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.contextmenu/jquery.contextmenu.r2.js}"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script>
    $(document).ready(function () {
        var account = $.cookie("accountNumber");
        if (account != null) {
            $.postAjax("user/getUserInfo", {"account": account}, function (data) {
                if (data.code == 1) {
                    $("#accountNumber").val(data.userInfo.accountNumber);
                    $("#userName").html(data.userInfo.userName);
                    $("#role").html(data.role.grName);
                    for (var i=0;i<data.permissions.length;i++) {
                        if(document.getElementById(data.permissions[i].gpName)){
                            document.getElementById(data.permissions[i].gpName).style.display = "block";
                        }
                    }
                }
            });
        } else {
            location.href = "login";
        }
    });

    //修改密碼
    function editPassword() {
        layer_show('修改密碼', 'password-edit', 750, 420);
    }

    window.addEventListener('popstate', function () {
        window.location.reload();
    });

    function delCookie(key) {
        var date = new Date();
        date.setTime(date.getTime() - 1);
        var delValue = getCookie(key);
        if (!!delValue) {
            document.cookie = key + '=' + delValue + ';expires=' + date.toGMTString();
        }
    }

    //退出
    function adminOff() {
        //清除cookie 跳越網頁面
        delCookie("accountNumber");
        delCookie("password");
        location.href = "login";
    }
</script>
</body>
</html>