<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--本页面表格使用vue element-ui样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/vue/element-ui/index.css}">
    <style>
        html,body,#app,.el-container{
            /*设置内部填充为0，几个布局元素之间没有间距*/
            padding: 0px;
            /*外部间距也是如此设置*/
            margin: 0px;
            /*统一设置高度为100%*/
            height: 100%;
        }
        .el-header{
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            /*line-height: 200px;*/
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            /*line-height: 160px;*/
        }
    </style>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
    <title>学生平时表现评分管理系統</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <span href="index" style="font-size: 22px">志蓮淨苑香積廚管理信息系統</span>
            <span style="position: absolute;right: 50px;">
                <el-dropdown style="font-size: 15px;">
                  <span class="el-dropdown-link">
                    下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>黄金糕</el-dropdown-item>
                    <el-dropdown-item>狮子头</el-dropdown-item>
                    <el-dropdown-item>螺蛳粉</el-dropdown-item>
                    <el-dropdown-item disabled>双皮奶</el-dropdown-item>
                    <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
            </span>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu class="el-menu-vertical-demo"  @select="handleSelect">
                    <el-submenu index="user">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span slot="title">导航一</span>
                        </template>
                        <el-menu-item index="/user/login">
                            <span slot="title">用户管理</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <span slot="title">账号管理</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <span slot="title">账号管理</span>
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>Main</el-main>
        </el-container>
    </el-container>
</div>
<script type="text/javascript" th:src="@{/vue/moment/moment.min.js}"></script>
<!--本页面表格使用vue.js-->
<script type="text/javascript" th:src="@{/vue/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/vue/qs/qs.js}"></script>
<script type="text/javascript" th:src="@{/vue/element-ui/index.js}"></script>
<script type="text/javascript"  th:src="@{/vue/axios/axios.min.js}"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                activeIndex:'2'
            }
        },
        mounted(){
        },
        methods:{
            handleSubmit(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let param = {
                            loginType:this.loginType,
                            accountName:this.loginForm.account,
                            accountPassword:this.loginForm.pwd
                        };
                        axios({
                            method:'post',
                            url:'../user/userLogin',
                            data: JSON.stringify(param)
                        }).then(res => {
                            if(res.data.code == "1"){
                                this.$message({
                                    showClose: true,
                                    message: '添加採購計劃成功',
                                    type: 'success'
                                });
                                this.getData()
                            }else{
                                this.$message({
                                    showClose: true,
                                    message: '添加採購計劃失敗',
                                    type: 'error'
                                });
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            handleSelect(key, keyPath) {
                console.log(window.location.href)
                return;
                window.location.href = keyPath;
            }
        }
    });
</script>
</body>
</html>