<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" } id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}"/>
    <!--本页面表格使用vue element-ui样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/vue/element-ui/index.css}">
    <!--[if IE 6]>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style>
        .input{
            width: 220px;
        }
        .el-table td, .el-table th{
            padding:3px 0;
        }
        .buttionClass{
            margin-left: 20px;
            font-size: 16px;
            padding: 6px;
        }
    </style>
    <title>评分列表</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首頁
    <span class="c-gray en">&gt;</span>评分管理
    <span class="c-gray en">&gt;</span>评分列表
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px;margin-right: 20px;"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container" id="app">
    <el-row>
        <el-col :span="24" style="text-align: center;">
            <el-input
                    class="input"
                    placeholder="請輸入老师姓名"
                    v-model.lazy="teacherName"
                    clearable
                    @keyup.enter.native="getGradeScoreList">
            </el-input>
            <el-input
                    class="input"
                    placeholder="請輸入学生姓名"
                    v-model.lazy="studentName"
                    clearable
                    @keyup.enter.native="getGradeScoreList">
            </el-input>
            标准周:
            <el-select v-model="weekNumber" placeholder="请选择">
                <el-option
                        v-for="item in weekList"
                        :key="item.id"
                        :label="item.date"
                        :value="item.id">
                </el-option>
            </el-select>
            <el-button @Click="getGradeScoreList"
                       type="primary"
                       class="buttionClass"
                       size="small"
                       :loading="isLoading">
                查询
            </el-button>
            <el-button type="primary" @click="addGradeScore" size="small" class="buttionClass">
                <i class="el-icon-plus"></i>添加评分
            </el-button>
        </el-col>
    </el-row>
    <el-dialog title="修改评分" :visible.sync="dialogFormVisible" :close-on-click-modal="false" width="630px">
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">
            <el-form-item>
                <el-row>
                    <el-col :xs="8" :sm="8" :md="8" :lg="6" :xl="6">
                        <el-form-item label="纪律分" prop="disciplineScore">
                            <el-input class="inputClass" v-model="ruleForm.disciplineScore"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="6" :xl="6">
                        <el-form-item label="学习分" prop="studyScore">
                            <el-input class="inputClass" v-model="ruleForm.studyScore"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item>
                <el-row>
                    <el-col :xs="8" :sm="8" :md="8" :lg="6" :xl="6">
                        <el-form-item label="卫生分" prop="healthScore">
                            <el-input class="inputClass" v-model="ruleForm.healthScore"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="6" :xl="6">
                        <el-form-item label="体育分" prop="sportsScore">
                            <el-input class="inputClass" v-model="ruleForm.sportsScore"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item>
                <el-row>
                    <el-col :xs="8" :sm="8" :md="8" :lg="6" :xl="6">
                        <el-form-item label="文娱分" prop="entertainmentScore">
                            <el-input class="inputClass" v-model="ruleForm.entertainmentScore"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :md="8" :lg="6" :xl="6">
                        <el-form-item label="平时表现分" prop="peacetimeScore">
                            <el-input class="inputClass" v-model="ruleForm.peacetimeScore"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form-item>
            <el-form-item>
                <el-row>
                    <el-col :xs="16" :sm="16" :md="16" :lg="16" :xl="16">
                        <el-form-item label="备注" prop="comments">
                            <el-input
                                    placeholder="请输入备注"
                                    v-model="ruleForm.comments"
                                    maxlength="200"
                                    show-word-limit>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">
                        <el-button type="success" @click="addInfoToTable('ruleForm')" size="small" class="buttionClass">
                            <i class="el-icon-plus"></i>添加
                        </el-button>
                    </el-col>
                </el-row>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitInfo('ruleForm')">确 定</el-button>
        </div>
    </el-dialog>
    <el-table
            :header-cell-style="{background:'#F5F7FA',color:'#606266','text-align':'center'}"
            :data="tableData"
            tooltip-effect="dark"
            :cell-style="{'text-align':'center'}"
            style="width: 100%;margin: 20px 0px;"
            :height="tableHeight"
            border>
        <el-table-column>
            <template slot="header" slot-scope="slot">
                <span style="float: left;">
                    <el-pagination
                            background
                            small
                            style="display: inline-block;"
                            :page-size="pageSize"
                            layout="prev, pager, next"
                            :total="total"
                            @current-change="current_change">
                    </el-pagination>
                </span>
                <strong style="float: right;margin-right: 15px;">共有數據： {{total}}條</strong>
            </template>
            <el-table-column
                    prop="teacherName"
                    label="教师名称">
            </el-table-column>
            <el-table-column
                    prop="studentName"
                    label="学生名称">
            </el-table-column>
            <el-table-column
                    prop="weekNumber"
                    label="标准周">
            </el-table-column>
            <el-table-column
                    prop="disciplineScore"
                    label="纪律分">
            </el-table-column>
            <el-table-column
                    prop="studyScore"
                    label="学习分">
            </el-table-column>
            <el-table-column
                    prop="healthScore"
                    label="卫生分">
            </el-table-column>
            <el-table-column
                    prop="sportsScore"
                    label="体育分">
            </el-table-column>
            <el-table-column
                    prop="entertainmentScore"
                    label="文娱分">
            </el-table-column>
            <el-table-column
                    prop="peacetimeScore"
                    label="平时表现分">
            </el-table-column>
            <el-table-column
                    width="90"
                    prop="avgScore"
                    label="总平均分">
            </el-table-column>
            <el-table-column
                    prop="comments"
                    label="备注">
            </el-table-column>
            <el-table-column
                    width="120"
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row type="flex" class="row-bg" justify="center">
                        <el-col :span="8">
                            <el-button type="text"
                                       icon="el-icon-edit"
                                       style="font-size: 18px;padding: 0px;"
                                       title="修改"
                                       @click="editGradeScore(scope.row)">
                            </el-button>
                        </el-col>
                        <el-col :span="8">
                            <el-button type="text"
                                       icon="el-icon-delete"
                                       style="font-size: 18px;padding: 0px;"
                                       title="删除"
                                       @click="removeGradeScore(scope.row.gsId)">
                            </el-button>
                        </el-col>
                    </el-row>
                </template>
            </el-table-column>
        </el-table-column>
    </el-table>
</div>
<script type="text/javascript" th:src="@{/moment/moment.min.js}"></script>
<!--本页面表格使用vue.js-->
<script type="text/javascript" th:src="@{/vue/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/vue/qs/qs.js}"></script>
<script type="text/javascript" th:src="@{/vue/element-ui/index.js}"></script>
<script type="text/javascript"  th:src="@{/vue/axios/axios.min.js}"></script>
<script type="text/javascript">

    new Vue({
        el: '#app',
        data: function() {
            let checkNumber = (rule, value, callback) => {
                if (value.length == 0) {
                    callback(new Error('分数不能为空'));
                }
                if (/^\d+(\.\d{1})?$/.test(value)) {
                    if (Number(value) < 0 || Number(value) > 100) {
                        callback(new Error('请输入0-100的数'));
                    } else {
                        callback();
                    }
                } else {
                    callback(new Error('请输入保留0-1位小数数字值'));
                }
            };
            return {
                total:0,
                weekNumber:'',
                teacherName:'',
                studentName:'',
                dialogFormVisible:false,
                pageSize:60,
                currentPage:1,
                tableHeight:0,
                weekList:[],
                tableData:[],
                isLoading:false,
                ruleForm:{
                    teacherName:'',
                    studentName:'',
                    weekNumber:'',
                    disciplineScore:'',
                    studyScore: '',
                    healthScore: '',
                    sportsScore: '',
                    entertainmentScore:'',
                    peacetimeScore:'',
                    comments:''
                },
                rules: {
                    disciplineScore:[
                        {validator: checkNumber, trigger: 'blur' }
                    ],
                    studyScore:[
                        {validator: checkNumber, trigger: 'blur' }
                    ],
                    healthScore:[
                        {validator: checkNumber, trigger: 'blur' }
                    ],
                    sportsScore:[
                        {validator: checkNumber, trigger: 'blur' }
                    ],
                    entertainmentScore:[
                        {validator: checkNumber, trigger: 'blur' }
                    ],
                    peacetimeScore:[
                        {validator: checkNumber, trigger: 'blur' }
                    ]
                }
            }
        },
        mounted(){
            this.$nextTick(() => {
                this.tableHeight = window.innerHeight-180;
            })
            this.getGradeScoreList()
            axios({
                method:'get',
                url:'score/getWeekByYear'
            }).then(res => {
                this.weekList = res.data.list
            })
        },
        methods:{
            getGradeScoreList(){
                this.isLoading = true;
                this.currentPage = 1;
                this.getData();
            },
            current_change:function(currentPage){
                this.currentPage = currentPage;
                this.getData();
            },
            getDateString(date){
                if(date == undefined){
                    return "";
                }else {
                    return moment(date).format("YYYY-MM-DD HH:mm:ss");
                }
            },
            getData(){
                let param = {
                    weekNumber:this.weekNumber,
                    teacherName:this.teacherName,
                    studentName:this.studentName,
                    currentPage:this.currentPage,
                    pageSize:this.pageSize
                };
                axios({
                    method:'get',
                    url:'score/getGradeScoreList',
                    params:param
                }).then(res => {
                    this.tableData = res.data.page.list
                    this.total = res.data.page.total
                    this.isLoading = false
                })
            },
            addGradeScore(){
                window.location.href = 'score-add';
            },
            editGradeScore(gradeScore){
                this.key = 1;
                this.title = '修改用户';
                this.$nextTick(()=>{
                    this.$refs['ruleForm'].resetFields();
                })
                this.userId = gradeScore.userId;
                this.dialogFormVisible = true;
                let ruleForm = {
                    accountNumber:gradeScore.accountNumber,
                    userName:gradeScore.userName,
                    accountType:gradeScore.accountType,
                    userSex:gradeScore.userSex,
                    userEmail:gradeScore.userEmail,
                    cellphone:gradeScore.cellphone,
                    newPassword:''
                }
                this.ruleForm = ruleForm;
            },
            removeGradeScore(gsId){
                axios({
                    method:'post',
                    url:'score/removeScore/'+gsId,
                }).then(res => {
                    if(res.data.code == 1){
                        this.$message({
                            showClose: true,
                            message: '刪除成功',
                            type: 'success'
                        });
                        this.getGradeScoreList();
                    }else{
                        this.$message({
                            showClose: true,
                            message:'刪除失败',
                            type: 'error'
                        });
                    }
                })
            }
        }
    });
</script>
</body>
</html>
